**/results/**
!results/.gitkeep #to keep the folder (but not the files)
**.mp4
**.out
**.png
**.o
./.git/**
./bin/ALE
./bin/radiation
**.bak**
**export**
**.sublime-**
**.dat**
**.slm**
**sublime.workspace**
